.slider-nav{
    height: 220px;
    // display: flex;
    // align-items: center;
    // gap: 20px;
    // padding: 0px 20px;
	border-top: solid 2px #F1D9C0;
}
.slider-for{
    height: calc(100vh - 305px);
}
.a-left,
.a-right{
	min-width: 35px;
	height: 35px;
	border-radius: 50%;
	background-color: $red;
	border: 0px;
	@include general-transition;

	&:hover{
		background-color:$black;
	}
}
.a-left{
	background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="none"><path d="M13 5.6875H3.11188L7.65375 1.14562L6.5 0L0 6.5L6.5 13L7.64563 11.8544L3.11188 7.3125H13V5.6875Z" fill="white"/></svg>');
	background-repeat: no-repeat;
	background-position: center center;
}
.a-right{
	background-image:url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="none"><path d="M4.97217e-07 7.3125L9.88813 7.3125L5.34625 11.8544L6.5 13L13 6.5L6.5 -5.68248e-07L5.35438 1.14562L9.88813 5.6875L6.39279e-07 5.6875L4.97217e-07 7.3125Z" fill="white"/></svg>');
	background-repeat: no-repeat;
	background-position: center center;
}